TestGITProcess/force-app/main/default/flows/Absence_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_to_Emp</name>
        <label>Email Notification to Emp</label>
        <locationX>264</locationX>
        <locationY>1932</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emp_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Emp_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Emp_Inapp_Notification</name>
        <label>Emp Inapp Notification</label>
        <locationX>264</locationX>
        <locationY>2292</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Mng_Inapp_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Emp_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Emp_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Looping_Employee_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Manager_Email_Notification</name>
        <label>Manager Email Notification</label>
        <locationX>264</locationX>
        <locationY>2052</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Mng_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vacation Limit Exceeded for {!Looping_Employee_Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mng_Inapp_Notification</name>
        <label>Mng Inapp Notification</label>
        <locationX>264</locationX>
        <locationY>2412</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Vacation Limit Exceeded for {!Looping_Employee_Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Mng_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Looping_Employee_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Collecting_Emp_ID_and_Email</name>
        <label>Collecting Emp ID and Email</label>
        <locationX>550</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Emp_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Employee_User_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emp_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Employee_User_Rec.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TimeSheet_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_Manager_Id_and_Email</name>
        <label>Collecting Manager Id and Email</label>
        <locationX>550</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>Mng_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager_User_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Email_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager_User_Rec.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_the_Flow_value_and_record_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_Time_Sheet_Duration</name>
        <label>Collecting Time Sheet Duration</label>
        <locationX>638</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Duration_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_TimeSheet_Records.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_TimeSheet_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Collection_Variable</name>
        <label>Copy Collection Variable</label>
        <locationX>550</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>Copy_Emp_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Emp_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_Emp_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Emp_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_Mng_Email_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mng_Email_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_Mng_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mng_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Removing_Values_in_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Removing_Values_in_Collection_Variable</name>
        <label>Removing Values in Collection Variable</label>
        <locationX>550</locationX>
        <locationY>2844</locationY>
        <assignmentItems>
            <assignToReference>Emp_Email</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Copy_Emp_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emp_ID</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Copy_Emp_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Email_Id</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Copy_Mng_Email_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_ID</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Copy_Mng_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Employee_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Allotted_Vacation_with_Calculated</name>
        <label>Checking Allotted Vacation with Calculated</label>
        <locationX>396</locationX>
        <locationY>1812</locationY>
        <defaultConnector>
            <targetReference>Copy_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vacation_Exceeds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Employee_Record.No_of_Vacations_Taken__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_custom_Metadatatype.Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Emp</targetReference>
            </connector>
            <label>Vacation Exceeds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_Flow_value_and_record_value</name>
        <label>Checking the Flow value and record value</label>
        <locationX>550</locationX>
        <locationY>1572</locationY>
        <defaultConnector>
            <targetReference>Copy_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_checking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dur_to_Day_Conversion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Looping_Employee_Record.No_of_Vacations_Taken__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vacation_Taken_in_Employee</targetReference>
            </connector>
            <label>Condition checking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Dur_to_Day_Conversion</name>
        <dataType>Number</dataType>
        <expression>{!Duration_Collection} / 8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Absence Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Absence Management Flow</label>
    <loops>
        <name>Looping_Employee_Record</name>
        <label>Looping Employee Record</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>getEmployeeRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Employee_User_Rec</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Looping_TimeSheet_Records</name>
        <label>Looping TimeSheet Records</label>
        <locationX>550</locationX>
        <locationY>996</locationY>
        <collectionReference>Get_TimeSheet_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collecting_Time_Sheet_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Manager_User_Rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_custom_Metadatatype</name>
        <label>get custom Metadatatype</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Employee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Value</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Sheet_Values__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>264</locationX>
        <locationY>2172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Emp_Inapp_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Sheet_Vacation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Employee_User_Rec</name>
        <label>get Employee User Rec</label>
        <locationX>550</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collecting_Emp_ID_and_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looping_Employee_Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_User_Rec</name>
        <label>Get Manager User Rec</label>
        <locationX>550</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collecting_Manager_Id_and_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Employee_User_Rec.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TimeSheet_Records</name>
        <label>Get TimeSheet Records</label>
        <locationX>550</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_TimeSheet_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looping_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-UnPlanned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Sheet__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmployeeRecord</name>
        <label>getEmployeeRecord</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_custom_Metadatatype</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vacation_Taken_in_Employee</name>
        <label>Update Vacation Taken in Employee</label>
        <locationX>396</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>Checking_Allotted_Vacation_with_Calculated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looping_Employee_Record.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Vacations_Taken__c</field>
            <value>
                <elementReference>Dur_to_Day_Conversion</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEmployeeRecord</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-23</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Emp_Notification_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Looping_Employee_Record.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have exceeded your vacation limit.&lt;/p&gt;&lt;p&gt;Allotted Vacation Leave : {!get_custom_Metadatatype.Accrued_Vacation_Days__c}&lt;/p&gt;&lt;p&gt;No. of vacation taken : {!Dur_to_Day_Conversion}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;System Admin&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Manager_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&amp;nbsp;{!Get_Manager_User_Rec.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Looping_Employee_Record.Name} has exceeded the vacation limit.&lt;/p&gt;&lt;p&gt;Allotted Vacation Leave : {!get_custom_Metadatatype.Accrued_Vacation_Days__c}&lt;/p&gt;&lt;p&gt;No. of vacation taken : {!Dur_to_Day_Conversion}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;System Admin&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Copy_Emp_Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Emp_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Mng_Email_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Copy_Mng_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duration_Collection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Emp_Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emp_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mng_Email_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mng_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
