TestGITProcess/force-app/main/default/flows/Duration_Calculation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Formula_Field</name>
        <label>Check Formula Field</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Formula Filed not having Value</defaultConnectorLabel>
        <rules>
            <name>Formula_Filed_having_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Duration_Cal_Formula_Field__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Duration_Field</targetReference>
            </connector>
            <label>Formula Filed having Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>End_Time_Resource</name>
        <dataType>String</dataType>
        <expression>{!$Record.End_Time__c}</expression>
    </formulas>
    <formulas>
        <name>Start_Time_Resource</name>
        <dataType>String</dataType>
        <expression>{!$Record.Start_Time__c}</expression>
    </formulas>
    <interviewLabel>Duration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duration Calculation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Duration_Field</name>
        <label>update Duration Field</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>$Record.Duration_Cal_Formula_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Formula_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
