TestGITProcess/force-app/main/default/flows/Duration_Limit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Adding_Triggered_Record_Duration</name>
        <label>Adding Triggered Record Duration</label>
        <locationX>622</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checking_Duration_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_Duration_value_in_Var</name>
        <label>Collecting Duration value in Var</label>
        <locationX>490</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_TimeSheet_Records.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_TimeSheet_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_Collection_Value</name>
        <label>Updating Collection Value</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_checking_Duration_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checking_Duration_Value</name>
        <label>checking Duration Value</label>
        <locationX>622</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dur_Coll</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Check_box_field</targetReference>
            </connector>
            <label>Condition Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Previous_Value</name>
        <label>Checking Previous Value</label>
        <locationX>402</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Adding_Triggered_Record_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>triggered_record_has_prior_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Duration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Collection_Value</targetReference>
            </connector>
            <label>triggered record has prior value</label>
        </rules>
    </decisions>
    <decisions>
        <name>UPD_checking_Duration_Value</name>
        <label>UPD checking Duration Value</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upd_Condition_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dur_Coll</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_Trig_update_Check_box_field</targetReference>
            </connector>
            <label>Upd Condition Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Duration Limit Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duration Limit Flow</label>
    <loops>
        <name>Looping_TimeSheet_Records</name>
        <label>Looping TimeSheet Records</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <collectionReference>get_TimeSheet_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collecting_Duration_value_in_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Previous_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_TimeSheet_Records</name>
        <label>get TimeSheet Records</label>
        <locationX>402</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_TimeSheet_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Sheet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>Hours_Exceeded__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd_Trig_update_Check_box_field</name>
        <label>Upd Trig update Check box field</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Hours_Exceeded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Check_box_field</name>
        <label>update Check box field</label>
        <locationX>490</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Hours_Exceeded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_TimeSheet_Records</targetReference>
        </connector>
        <object>Time_Sheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dur_Coll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
